body {
  background-color: rgb(190,190,190);
  background: linear-gradient(90deg,#757575 0%, #616161 100%);
}

.App-header {
  min-height: 10vh;
  margin-top: 6%;
  margin-left: 47%;
  font-family: 'Cormorant SC', serif;
  font-size: calc(20px + 2vmin);
  color: black;
}

@media(max-width:1000px){
  section{
    width: 500px;
    margin-right: 0 auto;
  }
}