.h1i,
.h1e,
.h1r,
.h1c,
.h1t,
.h1ct,
.h1p,
.h1ce,
.h1pr,
.h1pe,
.h1val {
    color: #009688;
    font-size: 50px;
    margin-top: -17px;
    margin-bottom: 5px;
    -webkit-text-stroke: black;
    -webkit-text-stroke-width: 2px;
}

.h1e {
    margin-left: 10%;
}

.h1r,
.h1p {
    margin-left: 17%;
}

.h1c {
    margin-left: 2%;
}

.h1t {
    margin-left: 6%;
}

.h1ct {
    margin-left: 15%;
}

.h1ce {
    margin-left: 7%;
}

.h1pr {
    margin-top: 10px;
    margin-left: 6%;
}

.h1val {
    margin-top: 10px;
    margin-left: 2%;
}

.h1pe {
    margin-top: 10px;
    /* margin-left: 10%; */
}

.campos {
    padding: 1em 0em 4px 30%;
    display: flex;
    flex-direction: column;
}

.form {
    overflow: hidden;
    position: relative;
    width: 100%;
    text-align: center;
    margin-left: -25%;
}

.input {
    height: 25px;
    width: 520px;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 28px;
    padding: 20px 5px 5px;
    margin:10px;
    background-color: rgba(255, 255, 255, 0.3);
    transition: 0.3s all;
}

.input:hover {
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}

.text, .textlongo, .textlongor {
    font-size: 30px;
    padding-left: 60px;
    margin-top: -0.001px;
    margin-bottom: -7px;
    margin-left: 70px;
}

.textlongo {
    font-size: 30px;
    margin-top: -0.001px;
    margin-bottom: -7px;
    margin-left: 14.4%;
    align-items: left;
}

.textlongor {
    font-size: 30px;
    margin-top: -0.001px;
    margin-bottom: -7px;
    margin-left: 11.4%;
    align-items: left;
}


@media(max-width:2000) {

    .labelcheck,
    .labelcheck2 {
        margin-left: auto;
    }
}