body, ul {
    position: relative;
    margin:0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 1em;
}

.list{
    display: block;
    list-style-type: none;
    margin: 0;
    box-sizing: border-box;
    height: 25%;
    padding-left: 40%;
}

.item {
    display: block;
    list-style-type: none;
    box-sizing: border-box;
    height: 50%;
    padding: 25px 10px 5px 30px;
}

.item a{
    color: #F5F5F5;
    text-decoration: none;
    font-size: 30px;
}

.item a:hover{
    color: #009688;
}

.retangulo {
    background: #1f1f1f;
    width: 400px;
    height: 50px;
    margin-top: -43px;
    margin-left: -45px;
    border: solid 2px #F5F5F5;
    box-shadow: 13px 6px 10px 1px rgb(59, 59, 59);
}

