.menu {
    margin-left: 75%;
    flex-direction: column;
    margin-left: 45%;
}

.h2 {
    padding-left: 45%;
    margin-top: -10px;
}

.text {
    font-size: 30px;
    width: 300px;
    margin-left: 35px;
    margin-top: -0.001px;
}

.input {
    position: absolute;
    min-width: 30px;
    min-height: 20px;
    margin-top: 7px;
  }
  