body {
  background: linear-gradient(90deg,#aaaaaa 0%, #666666 100%);
}

.App-logo {
  height: 50px;
  position: absolute;
  right: 0;
  top: 0;
}
.App-header {
  min-height: 10vh;
  margin-top: 6%;
  margin-left: 50%;
  font-family: 'Cormorant SC', serif;
  font-size: calc(20px + 2vmin);
  color: black;
}