body {
  /* background: linear-gradient(90deg,#05d63a 0%, #2ff1f8 100%); */
  background-color: rgb(190,190,190);
  background: linear-gradient(90deg,#aaaaaa 0%, #666666 100%);
}

.App-header {
  min-height: 10vh;
  margin-top: 6%;
  margin-left: 50%;
  font-family: 'Cormorant SC', serif;
  font-size: calc(20px + 2vmin);
  color: black;
}